In [7]:
import numpy as np
import pandas as pd
from sklearn.metrics import mean_absolute_error
from sklearn import preprocessing
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
train=pd.read_csv('train.tsv',delimiter='\t')
test=pd.read_csv('test.tsv',delimiter='\t')

In [4]:
df=train.append(test)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [5]:
df.head()

,acceleration,car name,cylinders,displacement,horsepower,id,model year,mpg,origin,weight
0,16.0,dodge aries se,4,135.0,84.00,0,82,29.0,1,2525.0
1,14.0,vw rabbit custom,4,89.0,71.00,3,79,31.9,2,1925.0
2,15.5,toyota mark ii,6,156.0,108.0,9,76,19.0,3,2930.0
3,14.5,dodge colt,4,90.0,75.00,11,74,28.0,1,2125.0
4,17.3,toyota tercel,4,89.0,62.00,13,81,37.7,3,2050.0

In [6]:
df.tail()

,acceleration,car name,cylinders,displacement,horsepower,id,model year,mpg,origin,weight
194,14.0,audi 100ls,4,114.0,91.00,391,73,NaN,2,2582.0
195,14.4,dodge colt,4,156.0,105.0,392,80,NaN,1,2800.0
196,14.8,buick opel isuzu deluxe,4,111.0,80.00,393,77,NaN,1,2155.0
197,11.1,pontiac grand prix lj,8,400.0,180.0,394,77,NaN,1,4220.0
198,14.5,volkswagen rabbit custom,4,97.0,78.00,397,77,NaN,2,1940.0

In [14]:
df['horsepower']=df['horsepower'].replace('?',np.nan)

In [53]:
df['horsepower']=df['horsepower'].astype(np.float64)
df['horsepower']=df['horsepower'].fillna(df['horsepower'].median())

In [55]:
correlation=df[df['mpg'].notnull()].corr()
correlation['mpg'].sort_values()

weight         -0.820660
displacement   -0.804635
horsepower     -0.782040
cylinders      -0.770160
id             -0.052688
acceleration    0.379721
origin          0.533671
model year      0.568471
mpg             1.000000
Name: mpg, dtype: float64

In [56]:
correlation

,acceleration,cylinders,displacement,horsepower,id,model year,mpg,origin,weight
acceleration,1.000000,-0.479561,-0.523955,-0.656798,-0.087649,0.194854,0.379721,0.189193,-0.401757
cylinders,-0.479561,1.000000,0.950600,0.849214,0.103419,-0.303462,-0.770160,-0.497373,0.893256
displacement,-0.523955,0.950600,1.000000,0.891988,0.098416,-0.329817,-0.804635,-0.579805,0.933038
horsepower,-0.656798,0.849214,0.891988,1.000000,0.081157,-0.380436,-0.782040,-0.419542,0.867910
id,-0.087649,0.103419,0.098416,0.081157,1.000000,-0.093272,-0.052688,-0.031421,0.070563
model year,0.194854,-0.303462,-0.329817,-0.380436,-0.093272,1.000000,0.568471,0.124279,-0.265562
mpg,0.379721,-0.770160,-0.804635,-0.782040,-0.052688,0.568471,1.000000,0.533671,-0.820660
origin,0.189193,-0.497373,-0.579805,-0.419542,-0.031421,0.124279,0.533671,1.000000,-0.535893
weight,-0.401757,0.893256,0.933038,0.867910,0.070563,-0.265562,-0.820660,-0.535893,1.000000

In [57]:
train_df=df[df['mpg'].notnull()]
test_df=df[df['mpg'].isnull()]

In [58]:
feats=[f for f in train_df.columns if f not in ['id','mpg']]

In [59]:
train_X=train_df[feats]
train_y=train_df['mpg']

In [71]:
feats_for_poly=[f for f in train_X.columns if f not in ['car name']]
feats_for_poly

['acceleration',
 'cylinders',
 'displacement',
 'horsepower',
 'model year',
 'origin',
 'weight']

In [100]:
train_X_poly=train_X[feats_for_poly]

In [127]:
from sklearn.preprocessing import PolynomialFeatures
poly=PolynomialFeatures(interaction_only=True)
X=poly.fit_transform(train_X_poly)

In [128]:
X.shape

(199, 29)

In [105]:
y=train_y
y

array([29. , 31.9, 19. , 28. , 37.7, 27. , 16. , 11. , 26. , 18.2, 16.5,
       30.9, 27. , 14. , 18. , 26. , 32.1, 24.5, 28.1, 32.7, 19. , 15. ,
       26. , 17. , 23. , 19.8, 13. , 36. , 17. , 38. , 31.5, 16. , 31.5,
       39.1, 24. , 32. , 15. , 33.8, 31.3, 23. , 43.1, 27.2, 22. , 19. ,
       22. , 23. , 13. , 20.6, 35.1, 44.6, 25. , 16. , 31. , 31. , 25. ,
       27.2, 13. , 30. ,  9. , 34. , 25. , 21.5, 38.1, 14. , 23. , 34.3,
       22. , 15.5, 16. , 14. , 26. , 28. , 32.9, 30. , 25. , 15. , 23. ,
       14. , 24.2, 19. , 27. , 15. , 22. , 18. , 15. , 39. , 26. , 34. ,
       23. , 31.8, 29. , 26.4, 25.5, 20.8, 34.4, 16.5, 24. , 30.5, 34.5,
       14. , 37. , 29.8, 26. , 20. , 18.1, 31. , 15.5, 19. , 18. , 28.4,
       26. , 20.6, 20. , 34.5, 22. , 30. , 17.5, 33.5, 12. , 24. , 13. ,
       21. , 33. , 41.5, 23. , 16. , 18. , 35. , 17. , 23.5, 18.1, 31. ,
       15. , 17.6, 30.5, 36.4, 20. , 25.8, 19.1, 20. , 34.7, 10. , 24. ,
       34.2, 26. , 40.9, 28. , 21. , 17.5, 22. , 18. , 14. , 25.5, 13. ,
       28. , 31. , 22.4, 23.9, 32. , 18. , 32. , 32. , 20. , 12. , 18.6,
       13. , 26.5, 25. , 28. , 29.5, 14. , 21.5, 32.8, 33.7, 15. , 25. ,
       29.8, 23.9, 19.4, 25.1, 35. , 21.5, 17.5, 17.7, 11. , 18. , 27. ,
       15. , 24. , 36. , 27.4, 18. , 13. , 19. , 40.8, 20.2, 16. , 43.4,
       26. ])

In [90]:
from sklearn.model_selection import KFold
folds=KFold(n_splits=10,shuffle=True,random_state=0)

In [108]:
import lightgbm as lgb

In [109]:
score=np.empty(10)
feature_importance_df = pd.DataFrame()
for n_fold, (train_idx, valid_idx) in enumerate(folds.split(X,y)):
    train_X,train_y=X[train_idx],y[train_idx]
    valid_X,valid_y=X[valid_idx],y[valid_idx]

    params = {
        'task' : 'train',
        'boosting_type' : 'gbdt',
        'objective' : 'regression',
        'metric' : {'l2'},
        'num_leaves' : 31,
        'learning_rate' : 0.1,
        'feature_fraction' : 0.9,
        'bagging_fraction' : 0.8,
        'bagging_freq': 5,
        'verbose' : 0
    }
    
    lgb_train=lgb.Dataset(train_X,train_y)
    lgb_valid=lgb.Dataset(valid_X,valid_y)
    gbm=lgb.train(params,lgb_train,num_boost_round=100)
    pred_y=gbm.predict(valid_X)
    score[n_fold]=mean_absolute_error(pred_y,valid_y)

In [112]:
score.mean()

2.1330888804594186

In [113]:
car_name=train_df['car name']

In [115]:
car_name=pd.get_dummies(car_name)

In [118]:
car_name=car_name.values

In [119]:
X.shape

(199, 29)

In [120]:
car_name.shape

(199, 167)

In [129]:
X=np.hstack([X,car_name])

In [131]:
X.shape

(199, 196)

In [132]:
score=np.empty(10)
feature_importance_df = pd.DataFrame()
for n_fold, (train_idx, valid_idx) in enumerate(folds.split(X,y)):
    train_X,train_y=X[train_idx],y[train_idx]
    valid_X,valid_y=X[valid_idx],y[valid_idx]

    params = {
        'task' : 'train',
        'boosting_type' : 'gbdt',
        'objective' : 'regression',
        'metric' : {'l2'},
        'num_leaves' : 31,
        'learning_rate' : 0.1,
        'feature_fraction' : 0.9,
        'bagging_fraction' : 0.8,
        'bagging_freq': 5,
        'verbose' : 0
    }
    
    lgb_train=lgb.Dataset(train_X,train_y)
    lgb_valid=lgb.Dataset(valid_X,valid_y)
    gbm=lgb.train(params,lgb_train,num_boost_round=100)
    pred_y=gbm.predict(valid_X)
    score[n_fold]=mean_absolute_error(pred_y,valid_y)

In [133]:
score.mean()

2.1330888804594186

In [126]:
X

(199, 196)