In [1]:
import numpy as np
import pandas as pd

In [4]:
df_car_name=pd.read_csv('df_car_name.csv')

In [5]:
df_car_name.head()

,acceleration,cylinders,displacement,horsepower,id,model year,mpg,origin,weight,car0_amc,...,car0_1_2_volkswagen411(sw),car0_1_2_volkswagenmodel111,car0_1_2_volkswagenrabbitcustom,car0_1_2_volkswagenrabbitl,car0_1_2_volkswagensuperbeetle,car0_1_2_volkswagentype3,car0_1_2_volvo145e(sw),car0_1_2_vwdasher(diesel),car0_1_2_vwrabbitc,car0_1_2_vwrabbitcustom
0,16.0,4,135.0,84.0,0,82,29.0,1,2525.0,0,...,0,0,0,0,0,0,0,0,0,0
1,14.0,4,89.0,71.0,3,79,31.9,2,1925.0,0,...,0,0,0,0,0,0,0,0,0,1
2,15.5,6,156.0,108.0,9,76,19.0,3,2930.0,0,...,0,0,0,0,0,0,0,0,0,0
3,14.5,4,90.0,75.0,11,74,28.0,1,2125.0,0,...,0,0,0,0,0,0,0,0,0,0
4,17.3,4,89.0,62.0,13,81,37.7,3,2050.0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
df_poly=pd.read_csv('df_poly.csv')

In [7]:
df_poly.head()

,id,mpg,acceleration,cylinders,displacement,horsepower,model year,origin,weight,acceleration cylinders,...,displacement horsepower,displacement model year,displacement origin,displacement weight,horsepower model year,horsepower origin,horsepower weight,model year origin,model year weight,origin weight
0,0,29.0,16.0,4.0,135.0,84.0,82.0,1.0,2525.0,64.0,...,11340.0,11070.0,135.0,340875.0,6888.0,84.0,212100.0,82.0,207050.0,2525.0
1,3,31.9,14.0,4.0,89.0,71.0,79.0,2.0,1925.0,56.0,...,6319.0,7031.0,178.0,171325.0,5609.0,142.0,136675.0,158.0,152075.0,3850.0
2,9,19.0,15.5,6.0,156.0,108.0,76.0,3.0,2930.0,93.0,...,16848.0,11856.0,468.0,457080.0,8208.0,324.0,316440.0,228.0,222680.0,8790.0
3,11,28.0,14.5,4.0,90.0,75.0,74.0,1.0,2125.0,58.0,...,6750.0,6660.0,90.0,191250.0,5550.0,75.0,159375.0,74.0,157250.0,2125.0
4,13,37.7,17.3,4.0,89.0,62.0,81.0,3.0,2050.0,69.2,...,5518.0,7209.0,267.0,182450.0,5022.0,186.0,127100.0,243.0,166050.0,6150.0

In [18]:
poly_only_columns=[i for i in df_poly.columns if i not in df_car_name.columns]

In [19]:
poly_only_columns.append('id')

In [21]:
df_poly_only=df_poly[poly_only_columns]

In [22]:
df_poly_only.head()

,acceleration cylinders,acceleration displacement,acceleration horsepower,acceleration model year,acceleration origin,acceleration weight,cylinders displacement,cylinders horsepower,cylinders model year,cylinders origin,...,displacement model year,displacement origin,displacement weight,horsepower model year,horsepower origin,horsepower weight,model year origin,model year weight,origin weight,id
0,64.0,2160.0,1344.0,1312.0,16.0,40400.0,540.0,336.0,328.0,4.0,...,11070.0,135.0,340875.0,6888.0,84.0,212100.0,82.0,207050.0,2525.0,0
1,56.0,1246.0,994.0,1106.0,28.0,26950.0,356.0,284.0,316.0,8.0,...,7031.0,178.0,171325.0,5609.0,142.0,136675.0,158.0,152075.0,3850.0,3
2,93.0,2418.0,1674.0,1178.0,46.5,45415.0,936.0,648.0,456.0,18.0,...,11856.0,468.0,457080.0,8208.0,324.0,316440.0,228.0,222680.0,8790.0,9
3,58.0,1305.0,1087.5,1073.0,14.5,30812.5,360.0,300.0,296.0,4.0,...,6660.0,90.0,191250.0,5550.0,75.0,159375.0,74.0,157250.0,2125.0,11
4,69.2,1539.7,1072.6,1401.3,51.9,35465.0,356.0,248.0,324.0,12.0,...,7209.0,267.0,182450.0,5022.0,186.0,127100.0,243.0,166050.0,6150.0,13

In [23]:
df=pd.merge(df_car_name,df_poly_only,on='id')

In [29]:
df.to_csv('df_car_poly_merge.csv',index=None)