In [1]:
import numpy as np
import pandas as pd
import lightgbm as lgb
from sklearn.metrics import mean_absolute_error
from sklearn import preprocessing
pd.options.display.max_columns=999

In [2]:
train=pd.read_csv('train.tsv',delimiter='\t')
test=pd.read_csv('test.tsv',delimiter='\t')

In [3]:
df=train.append(test).reset_index(drop=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [4]:
df.head()

,acceleration,car name,cylinders,displacement,horsepower,id,model year,mpg,origin,weight
0,16.0,dodge aries se,4,135.0,84.00,0,82,29.0,1,2525.0
1,14.0,vw rabbit custom,4,89.0,71.00,3,79,31.9,2,1925.0
2,15.5,toyota mark ii,6,156.0,108.0,9,76,19.0,3,2930.0
3,14.5,dodge colt,4,90.0,75.00,11,74,28.0,1,2125.0
4,17.3,toyota tercel,4,89.0,62.00,13,81,37.7,3,2050.0

In [5]:
def split_name(text,num):
    split=text.split()
    try:
        return split[num]
    except:
        return np.nan

In [6]:
df['car0']=df['car name'].apply(lambda x:split_name(text=x,num=0))

In [7]:
df['car1']=df['car name'].apply(lambda x:split_name(text=x,num=1))
df['car2']=df['car name'].apply(lambda x:split_name(text=x,num=2))

In [8]:
car1_notnull=df['car1'].notnull()
car2_notnull=df['car2'].notnull()

In [9]:
df['car0_1']=df['car0'][car1_notnull]+df['car1'][car1_notnull]

In [10]:
df['car0_1_2']=df['car0'][car2_notnull]+df['car1'][car2_notnull]+df['car2'][car2_notnull]

In [11]:
df.drop(columns='car name',inplace=True)

In [12]:
df['horsepower']=df['horsepower'].replace('?',np.nan)
df['horsepower']=df['horsepower'].astype(np.float64)

In [14]:
le=preprocessing.LabelEncoder()

array([11, 36, 30, 11, 30, 26,  6, 22,  2, 11, 19, 11, 10,  7,  0, 27,  7,
        7, 24, 10, 13, 20, 29,  7,  0, 20, 26, 11,  7, 22, 15,  7, 34, 30,
       28, 30,  0, 29, 17, 26, 34, 25, 13,  0, 13, 13,  7, 11, 15, 15, 23,
        7,  8, 26,  5, 10,  0, 12, 14, 30, 34,  2, 30, 13, 31,  1,  7,  7,
       13,  7, 11, 23, 10, 25,  3, 13, 24, 13, 10,  0, 34, 11,  7,  7, 11,
       25, 34,  7, 20, 10, 36, 13, 25, 20, 13, 20, 15, 34, 25, 25, 10, 33,
       25,  7,  0, 30, 11, 35,  7,  3, 23,  3, 11, 27, 10, 19,  0, 10, 22,
       12, 25,  7, 34, 36, 34, 13, 35, 32,  3,  7, 13, 12,  7, 13,  7,  1,
       30, 11, 11,  7, 25,  8, 30, 25, 34, 27,  7,  3, 11, 25,  0, 13, 13,
        3, 10, 30,  3, 10, 10, 13, 11, 30,  0, 11, 11, 13, 13, 28,  7, 15,
       25, 17, 17, 15,  0, 13, 30, 22, 11, 13, 10, 26,  7,  3,  7,  0,  7,
       25, 30, 34,  0,  0,  7,  0, 10, 20,  0, 36, 12, 35, 13, 10,  0, 30,
        1, 11,  3, 26,  0,  9, 30, 26, 30, 13, 11, 24, 18, 13, 10, 23, 36,
       11, 13,  3, 26,  0,  0,  3, 34, 15, 25, 15,  9, 25,  7, 10, 25, 26,
       36, 22, 34, 24, 12, 24, 17, 25, 25,  1, 30, 22, 30, 11, 25, 13, 13,
        0, 27,  0, 22,  0, 30, 13, 13, 13, 25, 17, 13, 13,  7, 13, 17, 30,
       13, 12, 16, 13,  7, 26,  7, 29, 16, 25,  7, 13, 10, 25,  4, 25,  7,
       28,  7, 25, 35, 13, 26, 15, 11, 20, 10,  7, 11,  7,  0, 30,  7,  0,
        7, 25, 26, 13, 13, 13,  1, 20, 34, 13,  7, 26, 22, 17,  9, 13, 13,
        9, 13, 35, 13,  8, 29, 13, 15, 34,  7,  3,  9, 35, 24, 21,  0, 30,
       25,  9, 25,  3, 10, 25, 11, 12,  7,  7,  3, 10, 22, 13, 24,  4, 15,
        0, 13, 15, 13, 15, 30,  3, 25, 20,  7, 13, 26, 11, 17,  0, 25, 28,
       30, 26, 27, 17,  3, 13, 24, 10, 13,  1, 11, 20, 22, 17, 20, 10, 30,
       25, 12,  1, 11,  3, 26, 34], dtype=int64)